@import "tailwindcss";


/* Hide scrollbar for Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
}

/* Prevent horizontal scroll */
body {
  overflow-x: hidden;
}
